@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif; }

/* Estilos Menu */
nav {
  display: flex; }
  nav ul {
    list-style: none;
    display: flex; }
  nav li {
    font-size: 22px;
    font-style: italic; }
  nav .logo {
    padding: 10px 20px 10px 20px;
    height: 70px;
    width: 80px;
    object-fit: contain; }
  nav .nav-link-home {
    text-decoration: none;
    font-weight: bold;
    padding: 80px 200px 5px 20px;
    color: #285185;
    transition: ease .3s; }
  nav .nav-link-home:hover {
    color: #285185; }
  nav .nav-link {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: #285185;
    margin-right: 1rem;
    transition: ease .3s; }
  nav .nav-link:hover {
    color: #285185; }

/* Estilos Index */
.header {
  height: 350px;
  background-color: #F21137;
  padding: 20px;
  margin: 20px;
  border-radius: 20px; }
  .header__tituloPrincipalIndex {
    color: white;
    font-size: 70px;
    display: flex;
    padding-left: 70px;
    padding-top: 50px; }
  .header__subTituloIndex {
    color: white;
    font-size: 30px;
    display: flex;
    align-items: left;
    justify-self: flex-start;
    animation-name: subtituloindexaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s;
    padding: 40px 20px 20px 0px; }

@keyframes subtituloindexaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }

.fondoAzul {
  background-image: linear-gradient(#285185, #2b61ac); }
  .fondoAzul__seccionUnoIndex {
    display: flex;
    flex-direction: column;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin: 40px 20px 20px 20px;
    width: 600px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    text-align: justify;
    text-justify: inter-word; }
  .fondoAzul__seccionUnoIndex__quienesSomos {
    color: white;
    padding-top: 10px; }
  .fondoAzul__seccionUnoIndex__parrafoIndex {
    margin: 20px 0px 20px 4px;
    color: white;
    width: 500px; }
  .fondoAzul__seccionDosIndex {
    display: flex;
    flex-direction: column;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin: 40px 20px 20px 80px;
    width: 600px;
    height: 350px;
    border-radius: 15px; }
  .fondoAzul__seccionDosIndex__videoIndex {
    width: 480px;
    height: 300px;
    padding: 40px 0px 0px 80px; }

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 40px;
  justify-content: center;
  align-items: center; }
  .footer_a {
    text-decoration: none; }
  .footer__facebook-svg {
    color: #285185;
    padding: 10px 10px 20px 10px; }
  .footer__facebook-svg:hover {
    color: #285185; }
  .footer__instagram-svg {
    color: #285185;
    padding: 10px 10px 20px 10px; }
  .footer__instagram-svg:hover {
    color: #285185; }
  .footer__whatsapp-svg {
    color: #285185;
    padding: 10px 10px 20px 10px; }
  .footer__whatsapp-svg:hover {
    color: #285185; }

/* Estilos Examenes */
.seccionUnoExamenes {
  width: 450px;
  height: 500px;
  margin: 5px 20px 20px 20px;
  padding: 40px 20px 20px 20px;
  border-radius: 20px; }
  .seccionUnoExamenes__tituloExamenes {
    color: white;
    font-size: 40px;
    display: flex;
    animation-name: tituloexamenesaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes tituloexamenesaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }
  .seccionUnoExamenes__parrafoExamenes {
    color: white;
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    display: flex;
    animation-name: parrafoexamenesaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes parrafoexamenesaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }

.seccionDosExamenes {
  display: flex;
  justify-content: center;
  padding: 140px 20px 20px 20px; }
  .seccionDosExamenes__grillaExamenes {
    height: 450px;
    width: 450px;
    display: flex;
    object-fit: cover; }

/* Estilos Cursos */
.seccionUnoCursos {
  padding: 0px 20px 20px 20px; }
  .seccionUnoCursos__tituloCursos {
    color: white;
    font-size: 40px;
    text-align: center;
    animation-name: titulocursosaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes titulocursosaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }

.seccionDosCursos {
  display: flex; }
  .seccionDosCursos__casillaNiños {
    background-color: #F21137;
    width: 350px;
    height: 400px;
    margin: 70px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 8px 16px #0e0d0d;
    padding: 20px; }
  .seccionDosCursos__casillaAdolescentes {
    background-color: #F21137;
    width: 350px;
    height: 400px;
    margin: 70px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 8px 16px #0e0d0d;
    padding: 20px; }
  .seccionDosCursos__casillaAdultos {
    background-color: #F21137;
    width: 350px;
    height: 400px;
    margin: 70px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0 8px 16px #0e0d0d;
    padding: 20px; }
  .seccionDosCursos__casillaNiños__tituloNiños {
    font-size: 20px;
    color: white;
    padding-top: 20px;
    text-align: center; }
  .seccionDosCursos__casillaNiños__parrafoNiños {
    font-size: 14px;
    color: white;
    padding: 20px; }
  .seccionDosCursos__casillaAdolescentes__tituloAdolescentes {
    font-size: 20px;
    color: white;
    padding-top: 40px;
    text-align: center; }
  .seccionDosCursos__casillaAdolescentes__parrafoAdolescentes {
    font-size: 36px;
    color: white;
    padding: 100px 20px 20px 20px; }
  .seccionDosCursos__casillaAdultos__tituloAdultos {
    font-size: 20px;
    color: white;
    padding-top: 40px;
    text-align: center; }
  .seccionDosCursos__casillaAdultos__parrafoAdultos {
    font-size: 14px;
    color: white;
    padding: 140px 20px 20px 20px; }

/* Estilos Contacto */
.seccionUnoContacto {
  padding: 20px; }
  .seccionUnoContacto__tituloContacto {
    color: white;
    font-size: 40px;
    text-align: center;
    animation-name: titulocontactoaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes titulocontactoaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }
  .seccionUnoContacto__formContacto {
    width: 400px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #111111; }
  .seccionUnoContacto__formContacto__form {
    width: 100%;
    height: 100%;
    padding: 10px 20px 20px 20px;
    background-color: #F21137;
    border-radius: 10px;
    box-shadow: 0 8px 16px #141313; }
  .seccionUnoContacto__formContacto__form__form-control {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver; }
  .seccionUnoContacto__newsletter {
    padding: 20px 10px 0px 0px;
    width: 450px;
    height: 30px; }
  .seccionUnoContacto__formContacto__form__btn {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    background: #285185;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px; }

/* Estilos Iniciar Sesion */
.seccionUnoIS {
  border-radius: 20px;
  margin: 20px; }
  .seccionUnoIS__tituloIniciarSesion {
    color: white;
    font-size: 40px;
    text-align: center;
    animation-name: tituloisoaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes tituloisoaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }
  .seccionUnoIS__formIniciarSesion {
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #111111; }
  .seccionUnoIS__formIniciarSesion__form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #F21137;
    border-radius: 10px;
    box-shadow: 0 8px 16px #141313; }
  .seccionUnoIS__formIniciarSesion__form__form-control {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver; }
  .seccionUnoIS__formIniciarSesion__form__btn {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    background: #285185;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px; }

/* Estilos Registrarse */
.seccionUnoRegistrarse {
  border-radius: 20px;
  margin: 20px; }
  .seccionUnoRegistrarse__tituloRegistrarse {
    color: white;
    font-size: 40px;
    text-align: center;
    animation-name: tituloregistrarseaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes tituloregistrarseaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }
  .seccionUnoRegistrarse__formRegistrarse {
    width: 400px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px; }
  .seccionUnoRegistrarse__formRegistrarse__form {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #F21137;
    border-radius: 10px;
    box-shadow: 0 8px 16px #141313; }
  .seccionUnoRegistrarse__formRegistrarse__form__form-control {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver;
    color: #111111;
    padding-bottom: 40px; }
  .seccionUnoRegistrarse__formRegistrars__form__btn {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 145px;
    height: 35px;
    border: none;
    outline: none;
    background: #285185;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px; }
