/* Estilos Contacto */

.seccionUnoContacto {
    padding: 20px;

    &__tituloContacto {
        color: $blanco;
        font-size: ($fontSize)-20;
        text-align: center;
        animation-name: titulocontactoaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes titulocontactoaparecer {
        from {
            opacity: 0%;
            transform: translateX(-100px);
        }
    
        to {
            opacity: 100%;
            transform: translateX(0px);
        }
    }

    
    &__formContacto {
        width: 400px;
        height: 500px;
        margin: auto ;
        display: flex;
        flex-direction: column;
        font-size: ($fontSize)-40px;
        color: #111111;

    }

        &__formContacto__form {
            width: 100%;
            height: 100%;
            padding: 10px 20px 20px 20px;
            background-color: $rojoDiv;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgb(20, 19, 19);
            
        }

            &__formContacto__form__form-control {
                width: 100%;
                height: 40px;
                background-color: $blanco;
                border-radius: 4px;
                border: 1px solid silver;
            }

        &__newsletter {
            padding: 20px 10px 0px 0px;
            width: 450px;
            height: 30px;
        }

        &__formContacto__form__btn {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 120px;
            height: 35px;
            border: none;
            outline: none;
            background: $azul;
            cursor: pointer;
            font-size: ($fontSize)-44;
            text-transform: uppercase;
            color: $blanco;
            border-radius: 4px;
        }
}