/* Estilos Cursos */

.seccionUnoCursos {
    padding: 0px 20px 20px 20px;


    &__tituloCursos {
        color: $blanco;
        font-size: ($fontSize)-20;
        text-align: center;
        animation-name: titulocursosaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes titulocursosaparecer {
        from {
            opacity: 0%;
            transform: translateX(-100px);
        }

        to {
            opacity: 100%;
            transform: translateX(0px);
        }
    }
}

.seccionDosCursos {
    display: flex;


@each $secciones in "&__casillaNiños", "&__casillaAdolescentes", "&__casillaAdultos" {
    #{$secciones} {
        background-color: $rojoDiv;
        width: 350px;
        height: 400px;
        margin: 70px;
        border-radius: 5px;
        border-color: $blanco;
        border-style: solid;
        border-width: 2px;
        text-align: justify;
        text-justify: inter-word;
        box-shadow: 0 8px 16px rgb(14, 13, 13);
        padding: 20px;
    }
}
        &__casillaNiños__tituloNiños {
            font-size: ($fontSize)-40;
            color: $blanco;
            padding-top: 20px;
            text-align: center;
        }

        &__casillaNiños__parrafoNiños {
            font-size: ($fontSize)-46;
            color: $blanco;
            padding: 20px;
        }

        &__casillaAdolescentes__tituloAdolescentes {
            font-size: ($fontSize)-40;
            color: $blanco;
            padding-top: 40px;
            text-align: center;
        }
        
        &__casillaAdolescentes__parrafoAdolescentes {
            font-size:($fontSize)-24;
            color: $blanco;
            padding: 100px 20px 20px 20px;
        }

        &__casillaAdultos__tituloAdultos {
            font-size: ($fontSize)-40;
            color: $blanco;
            padding-top: 40px;
            text-align: center;
        }
    
        &__casillaAdultos__parrafoAdultos {
            font-size: ($fontSize)-46;
            color: $blanco;
            padding: 140px 20px 20px 20px;
        }
}