/* Estilos Examenes */

.seccionUnoExamenes {
    width: 450px;
    height: 500px;
    margin: 5px 20px 20px 20px;    
    padding: 40px 20px 20px 20px;
    border-radius: 20px;

    &__tituloExamenes {
        color: $blanco;
        font-size: ($fontSize)-20;
        display: flex;
        animation-name: tituloexamenesaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes tituloexamenesaparecer {
        from {
            opacity: 0%;
            transform: translateX(-100px);
        }

        to {
            opacity: 100%;
            transform: translateX(0px);
        }
    }

    &__parrafoExamenes {
        color: $blanco;
        font-size: ($fontSize)-40;
        padding: 20px 20px 20px 5px;
        display: flex;
        animation-name: parrafoexamenesaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }
    
    @keyframes parrafoexamenesaparecer {
        from {
            opacity: 0%;
            transform: translateX(-100px);
        }
    
        to {
            opacity: 100%;
            transform: translateX(0px);
        }
    }
}

.seccionDosExamenes {
    display: flex;
    justify-content: center;
    padding: 140px 20px 20px 20px;
    
    &__grillaExamenes {
        height: 450px;
        width: 450px;
        display: flex;
        object-fit: cover;
    }
}