/* Estilos Registrarse */

.seccionUnoRegistrarse {
    border-radius: 20px;
    margin: 20px;


    &__tituloRegistrarse {
        color: $blanco;
        font-size: ($fontSize)-20;
        text-align: center;
        animation-name: tituloregistrarseaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes tituloregistrarseaparecer {
        from {
            opacity: 0%;
            transform: translateX(-100px);
        }

        to {
            opacity: 100%;
            transform: translateX(0px);
        }
    }

    &__formRegistrarse {
        width: 400px;
        height: 500px;
        margin: auto ;
        display: flex;
        flex-direction: column;
        font-size: ($fontSize)-40;
    }

    &__formRegistrarse__form {
        width: 100%;
        height: 100vh;
        padding: 20px;
        background-color: $rojoDiv;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgb(20, 19, 19);
        
    }

    &__formRegistrarse__form__form-control {
        width: 100%;
        height: 40px;
        background-color: $blanco;
        border-radius: 4px;
        border: 1px solid silver;
        color: #111111;
        padding-bottom: 40px;
    }

    &__formRegistrars__form__btn {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 145px;
        height: 35px;
        border: none;
        outline: none;
        background: $azul;
        cursor: pointer;
        font-size: ($fontSize)-44;
        text-transform: uppercase;
        color: $blanco;
        border-radius: 4px;
    }
}