@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif; }

nav {
  display: flex;
  justify-content: space-between;
  float: center;
  padding-top: 20px;
  height: 50px; }
  nav ul {
    list-style: none;
    display: flex; }
  nav li {
    font-size: 22px;
    font-style: italic; }
  nav ul li a:hover {
    font-size: 24px;
    color: #285185; }
  nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: #285185;
    margin-right: 1rem;
    transition: ease .3s; }

.grillaIndex {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 12fr 50px;
  grid-template-areas: "m m m m m m m m m m m m" "fon fon fon fon fon fon fon fon fon fon fon fon" "fot fot fot fot fot fot fot fot fot fot fot fot"; }

.grillaIndex__menu {
  grid-area: m; }

.grillaIndex__fondoAzul {
  grid-area: fon; }

.grillaIndex__footer {
  grid-area: fot; }

.logo {
  padding: 0px 0px 60px 20px;
  height: 100px;
  width: 100px; }

.header {
  height: 350px;
  background-color: #F21137;
  padding: 20px;
  margin: 20px;
  border-radius: 20px; }

.header__tituloPrincipalIndex {
  color: white;
  font-size: 70px;
  display: flex;
  padding-left: 70px;
  padding-top: 50px; }

.header__subTituloIndex {
  color: white;
  font-size: 30px;
  display: flex;
  align-items: left;
  justify-self: flex-start;
  animation-name: subtituloindexaparecer;
  animation-iteration-count: 1;
  animation-duration: 2s;
  padding: 40px 20px 20px 0px; }

@keyframes subtituloindexaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }

.fondoAzul {
  background-image: linear-gradient(#285185, #2b61ac); }

.fondoAzul__seccionUnoIndex {
  display: flex;
  flex-direction: column;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin: 40px 20px 20px 20px;
  width: 600px;
  height: 350px;
  padding: 20px;
  border-radius: 15px;
  text-align: justify;
  text-justify: inter-word; }

.seccionUnoIndex__quienesSomos {
  color: white;
  padding-top: 10px; }

.seccionUnoIndex__parrafoIndex {
  margin: 20px 0px 20px 4px;
  color: white;
  width: 500px; }

.fondoAzul__seccionDosIndex {
  display: flex;
  flex-direction: column;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin: 40px 20px 20px 80px;
  width: 600px;
  height: 350px;
  border-radius: 15px; }

.seccionDosIndex__videoIndex {
  width: 480px;
  height: 300px;
  padding: 40px 0px 0px 80px; }

.footer {
  background-color: white;
  display: flex;
  height: 50px;
  padding: 40px 20px 20px 20px;
  justify-content: center; }

.footer__facebook-png {
  color: #285185; }

.footer__instagram-png {
  color: #285185; }

.footer__whatsapp-png {
  color: #285185; }

.footer__emailmsg {
  font-weight: 200;
  text-align: right;
  font-size: 16px; }

.footer__newsletter {
  float: right; }

.seccionUnoExamenes {
  margin: 5px 20px 20px 20px;
  padding: 20px;
  border-radius: 20px; }
  .seccionUnoExamenes .seccionUnoExamenes__tituloExamenes {
    color: white;
    font-size: 40px;
    display: flex;
    animation-name: tituloexamenesaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes tituloexamenesaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }
  .seccionUnoExamenes .seccionUnoExamenes__parrafoExamenes {
    color: white;
    font-weight: 200;
    display: flex;
    animation-name: parrafoexamenesaparecer;
    animation-iteration-count: 1;
    animation-duration: 2s; }

@keyframes parrafoexamenesaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }

.seccionDosExamenes {
  display: flex;
  justify-content: center; }

.seccionDosExamenes__grillaExamenes {
  height: 1080px;
  width: 1080px;
  display: flex;
  object-fit: cover; }

.seccionUnoCursos {
  border-radius: 25px;
  margin: 5px 20px 20px 20px; }

.seccionUnoCursos__tituloCursos {
  color: white;
  font-size: 40px;
  text-align: center;
  animation-name: titulocursosaparecer;
  animation-iteration-count: 1;
  animation-duration: 2s; }

@keyframes titulocursosaparecer {
  from {
    opacity: 0%;
    transform: translateX(-100px); }
  to {
    opacity: 100%;
    transform: translateX(0px); } }

.seccionDosCursos {
  display: flex; }

seccionDosCursos__casillaNiños {
  background-color: #F21137;
  width: 800px;
  height: 400px;
  margin: 40px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: justify;
  text-justify: inter-word;
  box-shadow: 0 8px 16px #0e0d0d; }

seccionDosCursos__casillaAdolescentes {
  background-color: #F21137;
  width: 800px;
  height: 400px;
  margin: 40px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: justify;
  text-justify: inter-word;
  box-shadow: 0 8px 16px #0e0d0d; }

seccionDosCursos__casillaAdultos {
  background-color: #F21137;
  width: 800px;
  height: 400px;
  margin: 40px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: justify;
  text-justify: inter-word;
  box-shadow: 0 8px 16px #0e0d0d; }

.casillaNiños__tituloNiños {
  font-size: 30px;
  color: white;
  padding-top: 60px;
  text-align: center; }

.casillaNiños__parrafoNiños {
  font-size: 16px;
  color: white;
  padding: 40px 20px 20px 20px; }

.casillaAdolescentes__tituloAdolescentes {
  font-size: 30px;
  color: white;
  padding-top: 60px;
  text-align: center; }

.casillaAdolescentes__parrafoAdolescentes {
  font-size: 16px;
  color: white;
  padding: 40px 20px 20px 20px; }

.casillaAdultos__tituloAdultos {
  font-size: 30px;
  color: white;
  padding-top: 60px;
  text-align: center; }

.casillaAdultos__parrafoAdultos {
  font-size: 16px;
  color: white;
  padding: 40px 20px 20px 20px; }
