.seccionUnoCursos {
    border-radius: ($borderR)-25;
    margin: 5px 20px 20px 20px;
}

    .seccionUnoCursos__tituloCursos {
        color: $blanco;
        font-size: $ftsize;
        text-align: center;
        animation-name: titulocursosaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes titulocursosaparecer {
        from {
            opacity: 0%;
            transform: translateX(-100px);
        }

        to {
            opacity: 100%;
            transform: translateX(0px);
        }
    }

.seccionDosCursos {
    display: flex;
}

@each $secciones in seccionDosCursos__casillaNiños, seccionDosCursos__casillaAdolescentes, seccionDosCursos__casillaAdultos {
    #{$secciones} {
        background-color: #F21137;
        width: 800px;
        height: 400px;
        margin: 40px;
        border-radius: ($borderR)-45;
        border-color: $blanco;
        border-style: solid;
        border-width: 2px;
        text-align: justify;
        text-justify: inter-word;
        box-shadow: 0 8px 16px rgb(14, 13, 13);
    }
}
        .casillaNiños__tituloNiños {
            font-size: ($ftsize)-10;
            color: $blanco;
            padding-top: 60px;
            text-align: center;
        }

        .casillaNiños__parrafoNiños {
            font-size: ($ftsize)-24;
            color: $blanco;
            padding: 40px 20px 20px 20px;
        }

        .casillaAdolescentes__tituloAdolescentes {
            font-size: ($ftsize)-10;
            color: $blanco;
            padding-top: 60px;
            text-align: center;
        }
        
        .casillaAdolescentes__parrafoAdolescentes {
            font-size:($ftsize)-24;
            color: $blanco;
            padding: 40px 20px 20px 20px;
        }

        .casillaAdultos__tituloAdultos {
            font-size: 30px;
            color: white;
            padding-top: 60px;
            text-align: center;
        }
    
        .casillaAdultos__parrafoAdultos {
            font-size: 16px;
            color: white;
            padding: 40px 20px 20px 20px;
        }