.grillaIndex {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 70px 12fr 50px; 
    grid-template-areas: 
    "m m m m m m m m m m m m"
    "fon fon fon fon fon fon fon fon fon fon fon fon"
    "fot fot fot fot fot fot fot fot fot fot fot fot";

}

    .grillaIndex__menu {
        grid-area: m;
    }

    .grillaIndex__fondoAzul {
        grid-area: fon;
    }

    .grillaIndex__footer {
        grid-area: fot;
    }

.logo {
    padding: 0px 0px 60px 20px;
    height: 100px;
    width: 100px;
}

.header {
    height: 350px;
    background-color: #F21137;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

    .header__tituloPrincipalIndex {
        color: white;
        font-size: 70px;
        display: flex;
        padding-left: 70px;
        padding-top: 50px;
    }

    .header__subTituloIndex {
        color: white;
        font-size: 30px;
        display: flex;
        align-items: left;
        justify-self: flex-start;
        animation-name: subtituloindexaparecer;
        animation-iteration-count: 1;
        animation-duration: 2s;
        padding: 40px 20px 20px 0px;
    }

@keyframes subtituloindexaparecer {
    from {
        opacity: 0%;
        transform: translateX(-100px);
    }

    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

.fondoAzul {
    background-image: linear-gradient(#285185, #2b61ac);
}

    .fondoAzul__seccionUnoIndex {
        display: flex;
        flex-direction: column;
        border-color: white;
        border-style: solid;
        border-width: 5px;
        margin: 40px 20px 20px 20px;
        width: 600px;
        height: 350px;
        padding: 20px;
        border-radius: 15px;
        text-align: justify;
        text-justify: inter-word;
    }

        .seccionUnoIndex__quienesSomos {
            color: white;
            padding-top: 10px;
        }

        .seccionUnoIndex__parrafoIndex {
            margin: 20px 0px 20px 4px;
            color: white;
            width: 500px;
        }
    
    .fondoAzul__seccionDosIndex {
        display: flex;
        flex-direction: column;
        border-color: white;
        border-style: solid;
        border-width: 5px;
        margin: 40px 20px 20px 80px;
        width: 600px;
        height: 350px;
        border-radius: 15px;
    }
    
    .seccionDosIndex__videoIndex {
        width: 480px;
        height: 300px;
        padding: 40px 0px 0px 80px;
    }

.footer {
    background-color: white;
    display: flex;
    height: 50px;
    padding: 40px 20px 20px 20px;
    justify-content: center;
}
    
    .footer__facebook-png {
        color: #285185;
    }
    
    .footer__instagram-png {
        color: #285185;
    }
    
    .footer__whatsapp-png {
        color: #285185;
    }
    
    .footer__emailmsg {
        font-weight: 200;
        text-align: right;
        font-size: 16px;
    }
    
    .footer__newsletter {
        float: right;
    }
    