* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    float: center;
    padding-top: 20px;
    height: 50px;
    
    ul {
        list-style: none;
        display: flex;
    }
    
    li {
    font-size: 22px;
    font-style: italic;
    }
    
    ul li a:hover {
    font-size: 24px;
    color:#285185;
    }
    
    a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: #285185;
    margin-right: 1rem;
    transition: ease .3s;
    }
}

@import "_variables.scss";
@import "_index.scss";
@import "_examenes.scss";
@import "_cursos.scss";
